<!DOCTYPE html>
<html lang="cn" class="perfect-scrollbar-on">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Suez MSDS Anti-Fake System">
    <meta name="author" content="SUEZ WTS">

    <title>[title] - Suez MSDS Anti-Fake System</title>

    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/css/material-icons.min.css" rel="stylesheet">

    <link href="__STATIC__/css/material-dashboard.css" rel="stylesheet">
    <link href="__STATIC__/css/iconfont.css" rel="stylesheet">
    <link href="__STATIC__/css/app.css" rel="stylesheet">
    <link href="__STATIC__/css/bootoast.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/css/bootstrap-material-datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/css/jquery.fileupload.css" rel="stylesheet">
    <link href="__STATIC__/css/jquery.fileupload-ui.css" rel="stylesheet">
    <link rel="icon" href="__STATIC__/favicon.ico">
</head>